@import "tailwindcss";

:root {
  --background: #ffffff;
  --main: #000000;
  --secondary: #06CCC2;
  --text-dark: #000000;
  --text-light: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  /* background: var(--background); */
  font-family: Roboto, sans-serif;
  max-width: 1920px;
}

header {
  background-color: var(--main);
}

header+main {
  margin-top: 100px;
}

button {
  cursor: pointer;
}

.btn {
  min-width: 150px;
  min-height: 40px;
  max-height: 40px;
  color: var(--text-light);
  background-color: var(--secondary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-reverse {
  min-width: 40px;
  color: var(--secondary);
  background-color: var(--background);
  border: 2px solid var(--secondary);
}

.logo {
  min-width: 150px;
  max-width: 200px;
  height: 60px;
}

a{
  transition: 0.3s ease;
}

a:hover, a.active{
  color: var(--secondary);
}

main {}

.sidebar {
  /* border: 2px solid var(--secondary); */
  box-shadow: 2px 4px 4px 4px #00000025;
  border-radius: 10px;
  width: 300px;
  height: max-content;
}

.post{
    border-radius: 10px;

  box-shadow: 2px 4px 4px 4px #00000025;
}

.hidden {
  display: none !important;
}

.adaptive-block {
  display: none;
}

.web-block {
  display: block;
}

.chatlist{
  max-height: 1000px;
}

@media screen and (max-width: 600px) {
  .adaptive-block {
    display: block;
  }

  .web-block {
    display: none;
  }
}