@import "tailwindcss";

:root {
  --background: #ffffff;
  --main: #023859;
  --secondary: #26658C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  /* background: var(--background); */
  color: var(--main);
  font-family: Roboto, sans-serif;
  max-width: 1920px;
}

header {
  background-color: var(--main);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 60px;
  z-index: 2;
}

header+main {
  margin-top: 100px;
}

button {
  cursor: pointer;
}

.btn {
  width: 220px;
  height: 60px;
  color: var(--background);
  background-color: var(--secondary);
  border-radius: 20px;
}

.hidden {
  display: none !important;
}

.adaptive-block {
  display: none;
}

.web-block {
  display: block;
}

@media screen and (max-width: 600px) {
  .adaptive-block {
    display: block;
  }

  .web-block {
    display: none;
  }
}