@import "tailwindcss";

:root {
  --background: #ffffff;
  --main: #000000;
  --secondary: #06CCC2;
  --text-dark: #000000;
  --text-light: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  /* background: var(--background); */
  font-family: Roboto, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background-color: var(--main);
}

header+main {
  margin-top: 100px;
}

button {
  cursor: pointer;
}

.btn {
  min-width: 40px;
  padding: 10px;
  min-height: 40px;
  max-height: 40px;
  color: var(--text-light);
  background-color: var(--secondary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-reverse {
  min-width: 40px;
  color: var(--secondary);
  background-color: var(--background);
  border: 2px solid var(--secondary);
}

.logo {
  min-width: 150px;
  max-width: 200px;
  height: 60px;
}

a {
  transition: 0.3s ease;
}

a:hover,
a.active {
  color: var(--secondary);
}

main {
  width: 100%;
}

.sidebar {
  /* border: 2px solid var(--secondary); */
  /* box-shadow: 2px 4px 4px 4px #00000025; */
  border-radius: 10px;
  width: 400px;
  height: max-content;
}

.sidebar-border {
  border-right: 1px solid var(--main);
}

.post {
  border-radius: 10px;
  width: 700px;
  box-shadow: 2px 4px 4px 4px #00000025;
}

.post p {
  word-break: break-all;
}

.hidden {
  display: none !important;
}

.adaptive-block {
  display: none;
}

.web-block {
  display: block;
}

.chatlist {
  max-height: 1000px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .popup-content {
    background-color: var(--background);
    width: 500px;

  }

  .popup-bg {
    width: 100% !important;
    max-width: 100% !important;
    height: 100vh;
    background-color: #0a0a0a5c;
  }
}

.contextMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .contextMenu-content {
    background-color: var(--background);
    padding: 20px;
    width: 200px;
  }

  .contextMenu-bg {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #0a0a0a00;
  }
}

@media screen and (max-width: 600px) {
  .adaptive-block {
    display: block;
  }

  .web-block {
    display: none;
  }
}