@import "tailwindcss";

:root {
  --background: #ffffff;
  --main: #000000;
  --secondary: #06CCC2;
  --text-dark: #000000;
  --text-light: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  /* background: var(--background); */
  font-family: Roboto, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background-color: var(--main);
}

header+main {
  margin-top: 100px;
}

button {
  cursor: pointer;
}

.logo {
  min-width: 150px;
  max-width: 200px;
  height: 60px;
}

.post {
  border-radius: 10px;
  width: 700px;
  box-shadow: 2px 4px 4px 4px #00000025;
}

.post p {
  word-break: break-all;
}

.hidden {
  display: none !important;
}

.adaptive-block {
  display: none;
}

.web-block {
  display: block;
}

.chatlist {
  max-height: 1000px;
}

@media screen and (max-width: 600px) {
  .adaptive-block {
    display: block;
  }

  .web-block {
    display: none;
  }
}