@import "tailwindcss";

:root {
  --background: #ffffff;
  --main: #000000;
  --bg-dark-light:#b8b8b8;
  /* --secondary: #06CCC2; */
  --secondary: #03afa7; 
  --text-dark: #000000;
  --text-light: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  /* background: var(--background); */
  font-family: Roboto, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background-color: var(--main);
}

header+main {
  margin-top: 100px;
}

button {
  cursor: pointer;
}

.btn {
  min-width: 40px;
  padding: 10px;
  min-height: 40px;
  max-height: 40px;
  color: var(--text-light);
  background-color: var(--secondary);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-reverse {
  min-width: 40px;
  color: var(--secondary);
  background-color: var(--background);
  border: 2px solid var(--secondary);
}

.logo {
  min-width: 150px;
  max-width: 200px;
  height: 60px;
}

a {
  transition: 0.3s ease;
}

a:hover,
a.active {
  color: var(--secondary);
}

main {
  width: 100%;
}

.sidebar {
  /* border: 2px solid var(--secondary); */
  /* box-shadow: 2px 4px 4px 4px #00000025; */
  border-radius: 10px;
  width: 400px;
  height: max-content;
}

.sidebar-border {
  border-right: 1px solid var(--main);
}

.post {
  border-radius: 10px;
  width: 700px;
  box-shadow: 2px 4px 4px 4px #00000025;
}

.post p {
  word-break: break-all;
}

.hidden {
  display: none !important;
}

.adaptive-block {
  display: none;
}

.web-block {
  display: block;
}

.chatlist {
  max-height: 1000px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .popup-content {
    background-color: var(--background);
    width: 500px;

  }

  .popup-bg {
    width: 100% !important;
    max-width: 100% !important;
    height: 100vh;
    background-color: #0a0a0a5c;
  }
}

.contextMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  .contextMenu-content {
    background-color: var(--background);
    padding: 20px;
    width: 200px;
  }

  .contextMenu-bg {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #0a0a0a00;
  }
}

@media screen and (max-width: 600px) {
  .adaptive-block {
    display: block;
  }

  .web-block {
    display: none;
  }
}

#fireflies {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.dot-pattern {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 3;
  --mx: 50%;
  --my: 50%;
  --mr: 180px;

  background-image: radial-gradient(circle, rgba(255,255,255,0.25) 2px, transparent 2px);
  background-size: 15px 15px;

  -webkit-mask-image: radial-gradient(circle var(--mr) at var(--mx) var(--my), rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%);
  mask-image: radial-gradient(circle var(--mr) at var(--mx) var(--my), rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%);

  /* плавный переход радиуса */
  transition: -webkit-mask-position 0.08s linear, mask-position 0.08s linear, --mr 0.3s ease;

  /* более выраженная пульсация */
  animation: pulse 3s infinite alternate ease-in-out;
}

@keyframes pulse {
  0% {
    background-size: 12px 12px;
    opacity: 0.15;
  }
  25% {
    background-size: 20px 20px;
    opacity: 0.35;
  }
  50% {
    background-size: 10px 10px;
    opacity: 0.25;
  }
  75% {
    background-size: 100px 100px;
    opacity: 0.45;
  }
  100% {
    background-size: 17px 17px;
    opacity: 0.3;
  }
}

@media (max-width: 600px) {
  .dot-pattern { background-size: 24px 24px; --mr: 100px; }}


  